.ipynb_checkpoints/

/Informatik/Projects/T_rmeVonHanoiRAHMEN/build/
/Informatik/Projects/T_rmeVonHanoiRAHMEN/dist/
/Informatik/Projects/Fibonnaci/nbproject/private/
/Informatik/Projects/Fibonnaci/build/
/Informatik/Projects/WoerterbuchOOP/nbproject/private/
/Informatik/Projects/WoerterbuchOOP/build/
/Informatik/Projects/WoerterbuchOOP/dist/
/Informatik/Projects/BubbleSort/nbproject/private/
/Informatik/Projects/BubbleSort/build/
/Informatik/Projects/BubbleSort/dist/
/Informatik/Projects/Sortierer/nbproject/private/
/Informatik/Projects/Sortierer/build/
/Informatik/Projects/SortingPlayground/nbproject/private/
/Informatik/Projects/SortingPlayground/build/
/Informatik/Projects/Rangierbahnhof_RAHMEN/nbproject/private/
/Informatik/Projects/Rangierbahnhof_impl/nbproject/private/
/Informatik/Projects/Rangierbahnhof_impl/build/
/Informatik/Projects/Rangierbahnhof_impl/dist/