.ipynb_checkpoints/

/Informatik/Projects/T_rmeVonHanoiRAHMEN/build/
/Informatik/Projects/T_rmeVonHanoiRAHMEN/dist/
/Informatik/Projects/Fibonnaci/nbproject/private/
/Informatik/Projects/Fibonnaci/build/